@import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Kode Mono", monospace;
  background-color: #000;
}
